{#
/** 
*@file
* Theme "employee-page" template
* @see employee_theme()
* Available variables:
*
*  - data: The content to be rendered.
*/
#}

{% apply spaceless %}
 <nav>
   <div>Homepage</div>
   <div>About</div>
 </nav>
{% endapply %}