{#
/** 
*@file
* Theme "rk_customlogin" template
* @see rk_customlogin_preprocess_simplelogin()
* @see rk_customlogin_theme_registery_alter()
*/
#}
{%  spaceless %}
  <div class ="simplelogin">
    {{ page.content }}
  </div>
{% endspaceless %}